/* ==================  Buttons ==================== */
.btn-primary{
  background-image: -webkit-linear-gradient(top, rgb(23, 157, 254) 0%, rgb(4, 97, 210) 100%);
  border-top-color: rgb(19, 126, 218);
  border-left-color: rgb(6, 82, 186);
  border-bottom-color: rgb(6, 82, 186);
  border-right-color: rgb(13, 106, 204);
  color: #FFF !important;
  text-shadow: rgb(0, 75, 124) 0px 1px 1px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 700;
  text-rendering: auto;
  filter: none;
}
.btn-secondary{
  background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(222, 222, 222) 100%);
  border-color: rgb(156, 156, 156);
  color: rgb(51, 51, 51);
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 700;
  text-rendering: auto;
  filter: none;
  &:hover{
    border-color: rgb(156, 156, 156);
    color: rgb(51, 51, 51);
  }
}
