/* ==================  Note record ==================== */
.noterecord {
  background: white none repeat scroll 0 0 !important;
  border: 1px dashed #cbcbcb !important;
  border-radius: 2px !important;
  color: #333 !important;
  display: block;
  margin-bottom: 15px !important;
  padding: 16px !important;
}
